<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.bestnew.mapper.myMapper.MyUserRoleMapper">
    <select id="selectRoleByEmail" parameterType="java.lang.String" resultMap="java.util.ArrayList">
        select role_name
        from 'user'
        join user_role
        on  'user'.user_id=user_role.user_id
        join role
        on role.role_id=user_role.role_id
        where 'user'.email = #{email,jdbcType=STRING}
    </select>

</mapper>