<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.bestnew.mapper.NewsTitleMapper">
  <resultMap id="BaseResultMap" type="com.dz.bestnew.po.NewsTitle">
    <id column="news_title_id" jdbcType="INTEGER" property="newsTitleId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="put_time" jdbcType="TIME" property="putTime" />
    <result column="news_title_img" jdbcType="VARCHAR" property="newsTitleImg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    news_title_id, title, user_id, put_time, news_title_img
  </sql>
  <select id="selectByExample" parameterType="com.dz.bestnew.po.NewsTitleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news_title
    where news_title_id = #{newsTitleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news_title
    where news_title_id = #{newsTitleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dz.bestnew.po.NewsTitleExample">
    delete from news_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dz.bestnew.po.NewsTitle">
    insert into news_title (news_title_id, title, user_id, 
      put_time, news_title_img)
    values (#{newsTitleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{putTime,jdbcType=TIME}, #{newsTitleImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dz.bestnew.po.NewsTitle">
    insert into news_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsTitleId != null">
        news_title_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="putTime != null">
        put_time,
      </if>
      <if test="newsTitleImg != null">
        news_title_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsTitleId != null">
        #{newsTitleId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="putTime != null">
        #{putTime,jdbcType=TIME},
      </if>
      <if test="newsTitleImg != null">
        #{newsTitleImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dz.bestnew.po.NewsTitleExample" resultType="java.lang.Long">
    select count(*) from news_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update news_title
    <set>
      <if test="record.newsTitleId != null">
        news_title_id = #{record.newsTitleId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.putTime != null">
        put_time = #{record.putTime,jdbcType=TIME},
      </if>
      <if test="record.newsTitleImg != null">
        news_title_img = #{record.newsTitleImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update news_title
    set news_title_id = #{record.newsTitleId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      put_time = #{record.putTime,jdbcType=TIME},
      news_title_img = #{record.newsTitleImg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dz.bestnew.po.NewsTitle">
    update news_title
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="putTime != null">
        put_time = #{putTime,jdbcType=TIME},
      </if>
      <if test="newsTitleImg != null">
        news_title_img = #{newsTitleImg,jdbcType=VARCHAR},
      </if>
    </set>
    where news_title_id = #{newsTitleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dz.bestnew.po.NewsTitle">
    update news_title
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      put_time = #{putTime,jdbcType=TIME},
      news_title_img = #{newsTitleImg,jdbcType=VARCHAR}
    where news_title_id = #{newsTitleId,jdbcType=INTEGER}
  </update>
</mapper>