<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>USNews - Multipurpose News, Magazine and Blog HTML5 Template</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--webjars-->     <div th:replace="commons/section::webjars"></div>
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader bg--color-1--b" data-preloader="1">
            <div class="preloader--inner"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <div th:replace="commons/section::headerSection"></div>
        <!-- Header Section End -->

        <!-- Posts Filter Bar Start -->
        <div th:replace="commons/section::postsFilterBar"></div>
        <!-- Posts Filter Bar End -->

        <!-- News Ticker Start -->
        <div th:replace="commons/section::newsTicker"></div>
        <!-- News Ticker End -->

        <!-- Main Breadcrumb Start -->
        <div class="main--breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="home-1.html" class="btn-link"><i class="fa fm fa-home"></i>Home</a></li>
                    <li class="active"><span>Contributors</span></li>
                </ul>
            </div>
        </div>
        <!-- Main Breadcrumb End -->

        <!-- Main Content Section Start -->
        <div class="main-content--section pbottom--30">
            <div class="container">
                <!-- Main Content Start -->
                <div class="main--content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <!-- Page Title Start -->
                            <div class="page--title pd--30-0 text-center">
                                <h2 class="h2">Our Contributors</h2>

                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="action">
                                    <a href="#" class="btn btn-primary">Become a Contributor</a>
                                </div>
                            </div>
                            <!-- Page Title End -->
                        </div>
                    </div>

                    <!-- Contributor Items Start -->
                    <div class="contributor--items ptop--30">
                        <ul class="nav row AdjustRow">
                            <li class="col-md-3 col-xs-6 col-xxs-12 pbottom--30">
                                <!-- Contributor Item Start -->
                                <div class="contributor--item style--3">
                                    <div class="img">
                                        <img src="img/contributors-img/avatar-09.jpg" alt="">
                                    </div>

                                    <div class="info bg--color-1 bd--color-1">
                                        <div class="name">
                                            <h3 class="h4">Karla Gleichauf</h3>
                                        </div>

                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        </div>

                                        <ul class="social nav">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>

                                        <div class="action">
                                            <a href="author.html" class="btn btn-default">Author Posts</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contributor Item End -->
                            </li>

                            <li class="col-md-3 col-xs-6 col-xxs-12 pbottom--30">
                                <!-- Contributor Item Start -->
                                <div class="contributor--item style--3">
                                    <div class="img">
                                        <img src="img/contributors-img/avatar-10.jpg" alt="">
                                    </div>

                                    <div class="info bg--color-1 bd--color-1">
                                        <div class="name">
                                            <h3 class="h4">Johnny Rose</h3>
                                        </div>

                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        </div>

                                        <ul class="social nav">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>

                                        <div class="action">
                                            <a href="author.html" class="btn btn-default">Author Posts</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contributor Item End -->
                            </li>
                            
                            <li class="col-md-3 col-xs-6 col-xxs-12 pbottom--30">
                                <!-- Contributor Item Start -->
                                <div class="contributor--item style--3">
                                    <div class="img">
                                        <img src="img/contributors-img/avatar-11.jpg" alt="">
                                    </div>

                                    <div class="info bg--color-1 bd--color-1">
                                        <div class="name">
                                            <h3 class="h4">Howard Curtis</h3>
                                        </div>

                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        </div>

                                        <ul class="social nav">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>

                                        <div class="action">
                                            <a href="author.html" class="btn btn-default">Author Posts</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contributor Item End -->
                            </li>
                            
                            <li class="col-md-3 col-xs-6 col-xxs-12 pbottom--30">
                                <!-- Contributor Item Start -->
                                <div class="contributor--item style--3">
                                    <div class="img">
                                        <img src="img/contributors-img/avatar-12.jpg" alt="">
                                    </div>

                                    <div class="info bg--color-1 bd--color-1">
                                        <div class="name">
                                            <h3 class="h4">Heather Coleman</h3>
                                        </div>

                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        </div>

                                        <ul class="social nav">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>

                                        <div class="action">
                                            <a href="author.html" class="btn btn-default">Author Posts</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contributor Item End -->
                            </li>
                        </ul>
                    </div>
                    <!-- Contributor Items End -->
                </div>
                <!-- Main Content End -->
            </div>
        </div>
        <!-- Main Content Section End -->

        <!-- Footer Section Start -->
        <div th:replace="commons/section::footer"></div>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

     <!-- Sticky Social Start -->     <div th:replace="commons/section::socializing"></div>     <!-- Sticky Social End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Back To Top Button End -->



</body>
</html>
